:root {
  --color-primary: rgb(20, 26, 38);
  --color-primary-lighting: rgb(0, 157, 238);
  --color-primary-light: rgb(30, 41, 61);
  --color-secondary: rgb(5, 8, 13);
  --color-text: rgb(255, 255, 255);
  --color-text-primary: rgb(47, 69, 110);
  --color-border: rgb(27, 54, 83);
  --color-border-dark: rgb(39, 43, 52);
  --color-background: rgb(16, 20, 29);
  --color-yellow: rgb(157, 203, 32);
  --color-green: rgb(86, 192, 70);
  --color-red: rgb(215, 74, 65);
  --color-gradient-icon: linear-gradient(to bottom, rgb(39, 65, 100), rgb(19, 41, 65));
}
